# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from keras.layers import Dropout
from keras.regularizers import l1, l2

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv('./Resources/applicants_data.csv', index_col='EIN')

# Review the DataFrame
applicant_data_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
EIN,,,,,,,,,,,
10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Review the data types associated with the columns
applicant_data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34299 entries, 10520599 to 996086871
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NAME                    34299 non-null  object
 1   APPLICATION_TYPE        34299 non-null  object
 2   AFFILIATION             34299 non-null  object
 3   CLASSIFICATION          34299 non-null  object
 4   USE_CASE                34299 non-null  object
 5   ORGANIZATION            34299 non-null  object
 6   STATUS                  34299 non-null  int64
 7   INCOME_AMT              34299 non-null  object
 8   SPECIAL_CONSIDERATIONS  34299 non-null  object
 9   ASK_AMT                 34299 non-null  int64
 10  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(3), object(8)
memory usage: 3.1+ MB

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns = ['NAME'])

# Review the DataFrame
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
EIN,,,,,,,,,,
10520599,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
10531628,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
10547893,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
10553066,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
10556103,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
996009318,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
996010315,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
996012607,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
996015768,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
996086871,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [5]:
applicant_data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34299 entries, 10520599 to 996086871
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   APPLICATION_TYPE        34299 non-null  object
 1   AFFILIATION             34299 non-null  object
 2   CLASSIFICATION          34299 non-null  object
 3   USE_CASE                34299 non-null  object
 4   ORGANIZATION            34299 non-null  object
 5   STATUS                  34299 non-null  int64
 6   INCOME_AMT              34299 non-null  object
 7   SPECIAL_CONSIDERATIONS  34299 non-null  object
 8   ASK_AMT                 34299 non-null  int64
 9   IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(3), object(7)
memory usage: 2.9+ MB

In [6]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == 'object'].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [7]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse = False)

In [8]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

D:\Software\anaconda\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [9]:
encoded_data

array([[1., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [10]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data, columns = enc.get_feature_names_out(categorical_variables))
encoded_df.index = applicant_data_df.index
# Review the DataFrame
encoded_df

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
EIN,,,,,,,,,,,,,,,,,,,,,
10520599,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
10531628,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
10547893,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
10553066,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
10556103,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996009318,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
996010315,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
996012607,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
996015768,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
996086871,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [11]:
int_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == 'int64'].index)
int_variables

applicant_data_df[int_variables]

           STATUS   ASK_AMT  IS_SUCCESSFUL
EIN
10520599        1      5000              1
10531628        1    108590              1
10547893        1      5000              0
10553066        1      6692              1
10556103        1    142590              1
...           ...       ...            ...
996009318       1      5000              0
996010315       1      5000              0
996012607       1      5000              0
996015768       1      5000              1
996086871       1  36500179              0

[34299 rows x 3 columns]

In [12]:
#Decided to drop EIN column in this step for the smoother concat execution

# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df_true = pd.concat([applicant_data_df[int_variables], encoded_df], join='inner', axis = 1)
encoded_df_true.reset_index(inplace = True)
encoded_df_true.drop(columns = 'EIN', inplace = True)
# Review the Dataframe
encoded_df_true.head(20)

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
6,1,31452,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
7,1,7508025,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
8,1,94389,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
10,1,69656,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
11,1,165593,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
12,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
13,1,5301,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
14,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
15,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
16,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
17,1,86380556,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
18,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
19,1,376109,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [13]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df_true['IS_SUCCESSFUL']

# Display a sample of y
y

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [14]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df_true.drop(columns = 'IS_SUCCESSFUL')

# Review the features DataFrame
X

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [15]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [16]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [17]:
X_train_scaled[0]

array([ 0.01079982, -0.02957055, -0.12358845, -0.02991499, -0.04543772,
       -0.00881785, -0.00623504, -0.00623504, -0.17846338, -0.02068331,
       -0.01079982, -0.00881785,  0.52028597, -0.21848437, -0.18930918,
       -0.19399646, -0.14518018, -0.15039866, -0.06493162,  1.08034442,
       -0.04278355, -1.07318949, -0.03118975, -0.00881785, -0.02068331,
       -0.01079982, -1.00506648,  2.46274075, -0.03055899, -0.00623504,
       -0.01763775,  0.        , -0.01527415, -0.01527415, -0.02991499,
       -0.00623504, -0.00623504, -0.00623504, -0.01972038, -0.00881785,
       -0.01079982, -0.01079982, -0.00623504, -0.05892212, -0.01527415,
       -0.0389666 ,  0.        , -0.04043991, -0.00623504, -0.03473549,
       -0.022486  , -0.00623504, -0.00623504, -0.01079982, -0.09180631,
       -0.01527415, -0.00623504, -0.00623504, -0.02068331, -0.00623504,
       -0.00623504, -0.46615531, -0.24117497,  0.        ,  0.        ,
        0.        , -0.03180805, -0.00623504, -0.01394306, -0.00623504,
       -0.00623504, -0.00623504,  0.        , -0.05550246, -0.00881785,
       -0.05033115, -0.24342285, -0.00623504, -0.00623504, -0.07502931,
       -0.01394306, -0.00623504, -0.00623504,  0.        , -0.05757831,
       -0.00623504, -0.02160343, -0.00623504, -0.15414053, -0.04875411,
       -0.022486  , -0.02925687, -0.01527415, -0.02415478, -0.01763775,
       -0.00623504, -0.1058455 , -0.06612829, -0.01079982,  0.47226103,
       -0.44744306,  1.52769491, -0.11947101, -0.03637956, -1.47346684,
        0.63741496, -0.15066874, -0.12439654, -0.33179062, -0.08204493,
       -0.1676198 , -0.34899883, -0.06401969, -0.07529085,  0.02925687,
       -0.02925687])

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [18]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])
# Review the number of features
number_input_features

116

In [19]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [20]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  (number_input_features + 1)//2

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [21]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  (hidden_nodes_layer1 + 1)//2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [22]:
# Create the Sequential model instance
nn = Sequential()

In [23]:
# Add the first hidden layer
nn.add(Dense(units = hidden_nodes_layer1, input_dim = number_input_features, activation = 'relu'))

In [24]:
# Add the second hidden layer
nn.add(Dense(units = hidden_nodes_layer2, activation = 'relu'))

In [25]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units = number_output_neurons, activation = 'sigmoid'))

In [26]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [27]:
# Compile the Sequential model
nn.compile(loss='binary_crossentropy', optimizer = 'adam', metrics = 'accuracy')

In [28]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs = 50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5763 - accuracy: 0.7185
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5519 - accuracy: 0.7303
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5487 - accuracy: 0.7306
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5467 - accuracy: 0.7314
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7330
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7339
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7342
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7336
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7345
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5416 - accuracy: 0.7353
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7352
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7366
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7370
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7360
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7366
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7365
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7379
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7381
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7380
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7378
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7387
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7388
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7392
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5365 - accuracy: 0.7392
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5362 - accuracy: 0.7392
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5358 - accuracy: 0.7375
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5359 - accuracy: 0.7381
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5357 - accuracy: 0.7397
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5354 - accuracy: 0.7386
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5351 - accuracy: 0.7395
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5354 - accuracy: 0.7392
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7388
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5345 - accuracy: 0.7397
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5343 - accuracy: 0.7399
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5343 - accuracy: 0.7396
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5342 - accuracy: 0.7393
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5342 - accuracy: 0.7403
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5337 - accuracy: 0.7395
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5336 - accuracy: 0.7406
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5336 - accuracy: 0.7410
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5334 - accuracy: 0.7411
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5330 - accuracy: 0.7407
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5328 - accuracy: 0.7396
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5330 - accuracy: 0.7399
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5328 - accuracy: 0.7407
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5325 - accuracy: 0.7406
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5326 - accuracy: 0.7391
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5326 - accuracy: 0.7411
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5322 - accuracy: 0.7406
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5326 - accuracy: 0.7403

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [29]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose = 2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5565 - accuracy: 0.7318 - 439ms/epoch - 2ms/step
Loss: 0.5564793348312378, Accuracy: 0.7317784428596497

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [30]:
# Set the model's file path
file_path = Path('./Resources/AlphabetSoup.h5')

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [31]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [32]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [33]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features + 1)//2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

58

In [34]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [35]:
# First hidden layer
nn_A1.add(Dense(hidden_nodes_layer1_A1, input_dim = number_input_features, activation = 'relu'))

#Add a dropout layer

nn_A1.add(Dropout(.2, input_shape = (number_input_features,)))

#Second hidden Layer
nn_A1.add(Dense(29, activation = 'relu'))

#Third Hidden Layer
nn_A1.add(Dense(14, activation = 'relu'))


# Output layer
nn_A1.add(Dense(number_output_neurons, activation = 'sigmoid'))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 58)                6786

 dropout (Dropout)           (None, 58)                0

 dense_4 (Dense)             (None, 29)                1711

 dense_5 (Dense)             (None, 14)                420

 dense_6 (Dense)             (None, 1)                 15

=================================================================
Total params: 8,932
Trainable params: 8,932
Non-trainable params: 0
_________________________________________________________________

In [36]:
# Compile the Sequential model
nn_A1.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics = 'accuracy')

In [37]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled,
                         y_train, 
                         epochs = 50,
                         batch_size = 50
                         )

Epoch 1/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5885 - accuracy: 0.7093
Epoch 2/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5616 - accuracy: 0.7257
Epoch 3/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5561 - accuracy: 0.7275
Epoch 4/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5520 - accuracy: 0.7288
Epoch 5/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5520 - accuracy: 0.7314
Epoch 6/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5489 - accuracy: 0.7340
Epoch 7/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5486 - accuracy: 0.7328
Epoch 8/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5470 - accuracy: 0.7314
Epoch 9/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5475 - accuracy: 0.7344
Epoch 10/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7328
Epoch 11/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7346
Epoch 12/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7338
Epoch 13/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7333
Epoch 14/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5444 - accuracy: 0.7357
Epoch 15/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7334
Epoch 16/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7353
Epoch 17/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7347
Epoch 18/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7361
Epoch 19/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7358
Epoch 20/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7364
Epoch 21/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7357
Epoch 22/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7342
Epoch 23/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7358
Epoch 24/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7355
Epoch 25/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7365
Epoch 26/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7367
Epoch 27/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7368
Epoch 28/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7364
Epoch 29/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7371
Epoch 30/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7379
Epoch 31/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7359
Epoch 32/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7364
Epoch 33/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7384
Epoch 34/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7376
Epoch 35/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7384
Epoch 36/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7371
Epoch 37/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7380
Epoch 38/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7379
Epoch 39/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7368
Epoch 40/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7379
Epoch 41/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7385
Epoch 42/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7383
Epoch 43/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7387
Epoch 44/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5376 - accuracy: 0.7383
Epoch 45/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5373 - accuracy: 0.7386
Epoch 46/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7371
Epoch 47/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5370 - accuracy: 0.7376
Epoch 48/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7388
Epoch 49/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5373 - accuracy: 0.7381
Epoch 50/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7390

#### Alternative Model 2

In [38]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [39]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [40]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = (number_input_features + 1)//2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

58

In [41]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [42]:
# First hidden layer
nn_A2.add(Dense(hidden_nodes_layer1_A2, input_dim = number_input_features, activation ='tanh'))


#Add a dropout layer

nn_A2.add(Dropout(.2, input_shape = (number_input_features,)))


#Second hidden Layer
nn_A2.add(Dense(29, activation = 'relu'))

# Add regularization to another dense layer
nn_A2.add(Dense(5, activation='relu', kernel_regularizer=l2(0.01), bias_regularizer=l2(0.01)))

# Output layer
nn_A2.add(Dense(number_output_neurons, activation = 'tanh'))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 58)                6786

 dropout_1 (Dropout)         (None, 58)                0

 dense_8 (Dense)             (None, 29)                1711

 dense_9 (Dense)             (None, 5)                 150

 dense_10 (Dense)            (None, 1)                 6

=================================================================
Total params: 8,653
Trainable params: 8,653
Non-trainable params: 0
_________________________________________________________________

In [43]:
# Compile the model
nn_A2.compile(loss = 'binary_crossentropy',
              optimizer = 'adam',
              metrics = 'accuracy')

In [44]:
# Fit the model
nn_A2.fit(X_train_scaled,
       y_train,
       epochs = 10,
       batch_size = 20)

Epoch 1/10
1287/1287 [==============================] - 3s 2ms/step - loss: 0.7319 - accuracy: 0.6940
Epoch 2/10
1287/1287 [==============================] - 2s 2ms/step - loss: 0.6043 - accuracy: 0.7217
Epoch 3/10
1287/1287 [==============================] - 2s 2ms/step - loss: 0.5863 - accuracy: 0.7225
Epoch 4/10
1287/1287 [==============================] - 2s 2ms/step - loss: 0.5716 - accuracy: 0.7265
Epoch 5/10
1287/1287 [==============================] - 2s 2ms/step - loss: 0.5646 - accuracy: 0.7266
Epoch 6/10
1287/1287 [==============================] - 2s 2ms/step - loss: 0.5594 - accuracy: 0.7290
Epoch 7/10
1287/1287 [==============================] - 2s 2ms/step - loss: 0.5608 - accuracy: 0.7281
Epoch 8/10
1287/1287 [==============================] - 2s 2ms/step - loss: 0.5570 - accuracy: 0.7285
Epoch 9/10
1287/1287 [==============================] - 2s 2ms/step - loss: 0.5566 - accuracy: 0.7295
Epoch 10/10
1287/1287 [==============================] - 2s 2ms/step - loss: 0.5543 - accuracy: 0.7300

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [45]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 [==============================] - 0s 1ms/step - loss: 0.5565 - accuracy: 0.7318
Loss: 0.5564793348312378, Accuracy: 0.7317784428596497

In [46]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =nn_A1.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 [==============================] - 0s 1ms/step - loss: 0.5549 - accuracy: 0.7314
Loss: 0.5548943281173706, Accuracy: 0.7314285635948181

In [47]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose = 2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5565 - accuracy: 0.7257 - 411ms/epoch - 2ms/step
Loss: 0.5565081238746643, Accuracy: 0.7257142663002014

### Step 3: Save each of your alternative models as an HDF5 file.

In [48]:
# Set the file path for the first alternative model
file_path = Path('./Resources/AlphabetSoup_A1.h5')

# Export your model to a HDF5 file
nn.save(file_path)

In [49]:
# Set the file path for the second alternative model
file_path = Path('./Resources/AlphabetSoup_A2.h5')

# Export your model to a HDF5 file
nn.save(file_path)